body {
   color: darkseagreen;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color:#25CED1;
  }
  
  .style2 {
    background-color:#FFFFFF;
  }
  
  .style3 {
    background-color: #FCEADE;
  }
  
  .style4 {
    background-color:#FF8A5B ;
  }
  
  .style5 {
    background-color:#EA526F;
  }
  
  .style6 {
    background-color: #FCEADE;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }