body {
   color: darkseagreen;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #2C1320;
  }
  
  .style2 {
    background-color: #5F4B66;
  }
  
  .style3 {
    background-color: #A7ADC6;
  }
  
  .style4 {
    background-color: #8797AF;
  }
  
  .style5 {
    background-color: #56667A;
  }
  
  .style6 {
    background-color: #9B9A9A;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }